@import "variables.css";
/* Basic styles
   ========================================================================== */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 15px;
  line-height: 24px;
  color: var(--theme-color-text);
  font-family: var(--theme-ff-base);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* Header
   ========================================================================== */

.main-header {
  min-height: 50px;
  font-family: var(--theme-ff-header);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 130px;
}

.logo-link {
  font-weight: 700;
  font-size: 30px;
  text-decoration: none;
  color: var(--theme-color-main);
  display: block;
}

.navigation {
  min-width: 490px;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--theme-color-main);
  font-size: 14px;
  line-height: 1.25;
  display: block;
  transition: color .2s linear;
}

.nav-link::after {
  content: '';
  display: block;
  background-color: var(--theme-color-accent);
  height: 3px;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform 0.2s linear;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--theme-color-accent);
}

.nav-link:hover::after,
.nav-link:focus::after {
  transform: scaleX(1);
}


/* Main
   ==========================================================================
*/

.main-content {
  padding-bottom: 80px;
}

.section-services {
  padding-bottom: 90px;
}

.section-title {
  margin: 0 0 20px 0;
  text-align: center;
  font-size: 24px;
  color: var(--theme-color-header);
  font-family: var(--theme-ff-cursive);
  position: relative;
}

.headline {
  margin: 0;
  font-size: 30px;
  font-family: var(--theme-ff-header);
  font-weight: 700;
  color: var(--theme-color-header);
  text-transform: uppercase;
  text-align: center;
}

.headline::after {
  content: '';
  display: block;
  background-color: var(--theme-color-accent);
  height: 3px;
  width: 60px;
  margin: 0 auto;
  margin-top: 42px;
}

.services {
  margin-bottom: 65px;
}

.team {
  margin-bottom: 45px;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 244px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content:space-between
}

.services-list-item {
  width: 382px;
  padding-left: 83px;
  position: relative;
}

.services-list-item::before {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  left: 31px;
  background-image: url(../img/sprites/sprite.png);
  width: 32px;
  height: 32px;
}

.service-name {
  margin: 0 0 15px 0;
  text-transform: uppercase;
  color: var(--theme-color-header);
  font-family: var(--theme-ff-header);
  font-weight: 400;
  font-size: 14px;
}

.service-description {
  color: var(--theme-color-text);
  font-family: var(--theme-ff-base);
  margin: 0;
}

.photography::before {
  background-position: 0 0;
}

.web::before {
  background-position: 32px 0px;
}

.creativity::before {
  background-position: -84px 0px;
}

.seo::before {
  background-position: -42px 0px;
}

.layout::before {
  background-position: -126px 0px;
}

.digital::before {
  background-position: -168px 0px;
}

.team-description {
  width: 980px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 82px;
}

.team-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

/* Member card
   ========================================================================== */

.figure-card {
  margin: 0;
}

.figure-img-wrapper {
  position: relative;
  transition: transform .2s linear,
              box-shadow .2s linear;
}

.figure-img-wrapper:hover {
  transform: translate(-10px, -10px);
  -webkit-box-shadow: 10px 10px 0px 0px rgba(149, 225, 211, 1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(149, 225, 211, 1);
  box-shadow: 10px 10px 0px 0px rgba(149, 225, 211, 1);
}

.figure-img {
  margin-bottom: 28px;
}

.overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 470px;
  background-image: linear-gradient(var(--theme-color-accent-tr), var(--theme-color-accent-secondary-tr));
  transition: opacity .2s linear;
  display: flex;
  align-items: center;
  justify-content: center;
}

.figure-img-wrapper:hover .overlay {
  opacity: 1;
}


.btn {
  display: block;
  width: 56px;
  height: 56px;
  background-color: var(--theme-color-accent-secondary);
  background-image: url(../img/sprites/sprite.png);
  background-position: 0px -32px;
  background-repeat: no-repeat;
  transition: background-color .2s linear;
}

.btn-twitter {
  background-position: -56px -32px;
}

.btn-pinterest {
  background-position: -112px -32px;
}

.btn-instagram {
  background-position: -168px -32px;
}


.btn:hover {
  background-color: var(--theme-color-main);
}

.btn:not(:last-child) {
  border-right: 1px solid var(--theme-color-accent);
}

.card-description p {
  margin: 0;
}

.member-name {
  font-family: var(--theme-ff-header);
  color: var(--theme-color-header);
  font-size: 14px;
  line-height: 1.25;
  text-transform: uppercase;
  text-align:center;
}

.member-position {
  font-weight: 300;
  font-style: italic;
  text-align: center;
}

/* Footer
   ========================================================================== */
.main-footer {
  border-top: 1px solid #e7e7e7;
  min-height: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-rights {
  margin: 0;
  font-family: var(--theme-ff-header);
  line-height: 1.25;
  color: var(--theme-color-header);
  font-weight: 500;
}

.designed-by {
  color: var(--theme-color-accent);
}

.subscribe-form {
  border: 1px solid #e7e7e7;
  height: 40px;
  display: flex;
}

#input-email {
  width: 230px;
  padding: 0;
  font-weight: 400;
  font-style: italic;
  color: #cccccc;
  font-size: 15px;
  line-height: 24px;
  background-color: transparent;
  border: none;
  text-indent: 14px;
}

.subscribe-btn {
  background-color: var(--theme-color-main);
  font-family: var(--theme-ff-header);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  border: none;
  padding: 0 33px;
  transition: background-color 0.2s linear;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--theme-color-accent);
}