
/*
  font-family: 'Playfair Display', serif;
  font-family: 'Ubuntu', sans-serif;
*/

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body, a {
    font-family: 'Playfair Display', serif;
    color: #626262;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 900px;
  margin: 0 auto;
}

.header {
  padding: 75px 0 97px 0;
}

.nav-list {
  text-align: center;
  font-size: 0px;
}

.nav-list li:not(:last-child) {
  margin-right: 100px;
}

.nav-item,
.list-item {
  list-style: none;
  display: inline-block;
}

.nav-link {
  display: block;
}

.nav-link {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  vertical-align: top;
}

.nav-link:hover,
.nav-link:focus {
  color: #03A9F4;
}

.main-content {
  padding-bottom: 55px;
}

.article-items {
  margin-bottom: 55px;
  font-size: 0px;
}

.list-item {
  width: 420px;
}

.list-item:nth-child(odd) {
  margin-right: calc(900px - 2 * 420px);
}

.list-item:nth-child(-n+4) {
  margin-bottom: 135px;
}

.article-img {
  margin-bottom: 31px;
}

.article-tag {
  font-size: 14px;
  text-transform: uppercase;
  font-family: Ubuntu, 'Helvetica Neue', sans-serif;
  color: #b4ad9e;
  font-weight: 400;
  margin-bottom: 25px;
}

.article-header {
  font-size: 30px;
  margin-bottom: 35px;
}

.article-content {
  font-size: 14px;
  line-height: 24px;
}


.btn {
  display: block;
  margin: 0 auto;
  width: 164px;
  height: 60px;
  background: transparent;
  font-size: 24px;
  border: 1px solid #626262;
  outline: none;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  color: rgb(255, 255, 255);
  background: #03A9F4;
  border: 1px solid #03A9F4;
}