:root {
    --fg-color-main: #e4e4e4;
    --fg-color-inactive: #777777;
    --fg-color-active: #59b8e7;
    --fg-color-failed: #c90b44;
    --font-main: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --bg-color-light: #455A64;
    --bg-color: #37474F;
    --bg-color-dark: #263238;
}

/*
==========================================================================
    Basic
==========================================================================
*/

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    color: var(--fg-color-main);
    font-family: var(--font-main);
    background: var(--bg-color-dark);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.container {
    width: 940px;
    margin: 0 auto;
}

h1, h2, h3, h4 {
    margin: 0;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


/*
==========================================================================
    Main
==========================================================================
*/

.wrapper {
    position: relative;
}

.overlay {
    position: absolute;
    display: flex;
    background-color: #000000a4;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.test-results {
    background: #ffffff;
    width: 30rem;
    padding: 2rem;
    margin: auto;
}

.test-results p {
    margin: 0;
    padding: 1rem 0;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    border-width: .5rem;
    border-style: solid;
    color: var(--fg-color-active);
    border-color: var(--fg-color-active);
}

p.test-failed {
    color: var(--fg-color-failed);
    border-color: var(--fg-color-failed);
}

.content {
    padding-top: 2rem;
}

.questions-form {
    padding: 1rem 2rem;
    background-color: var(--bg-color);
}

.questions-form-title {
    font-size: 2rem;
    line-height: 5rem;
    text-transform: uppercase;
}

.questions-list {
    padding-bottom: 2rem;
}

.questions-list-item {
    padding: 1rem;
    background-color: var(--bg-color);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
                0 1px 2px rgba(0, 0, 0, 0.24);
}

.question-card-title {
    font-size: 1.2rem;
    font-weight: 100;
    padding-bottom: 1.2rem;
}

.answer-check-label {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    line-height: 2.4rem;
    font-weight: 100;
    color: var(--fg-color-inactive);
    cursor: pointer;
}

.answer-check-label::before {
    content: '';
    display: block;
    height: 1.2rem;
    width: 1.2rem;
    align-items: center;
    margin-right: 0.8rem;
    background-image: url('../assets/img/baseline-radio_button_unchecked-24px.svg');
    background-size: contain;
}

.answer-check:checked+.answer-check-label::before {
    background-image: url('../assets/img/baseline-radio_button_checked-24px.svg');
}

.answer-check:checked+.answer-check-label {
    color: #59b8e7;
    font-weight: 400;
}

.questions-list-item:not(:nth-last-of-type(1)) {
    margin-bottom: 2rem;
}

.btn {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--fg-color-inactive);
    display: block;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    background-color: var(--bg-color);
    border: 1px solid var(--bg-color-light);
    cursor: pointer;
}

.btn:hover:not(:disabled),
.btn:focus:not(:disabled) {
    background-color: var(--bg-color-light);
    color: var(--fg-color-active);
}