@import "fonts.css";
@import "variables.css";

/*
==========================================================================
    Basic
==========================================================================
*/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 14px;
  line-height: 1.25;
  color: var(--theme-color-text);
  font-family: var(--theme-ff-main);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
}

/*
==========================================================================
    Header
==========================================================================
*/
.header {
  display: flex;
  padding-top: 35px;
  margin-bottom: 125px;
  align-items: flex-end;
}

.logo-link {
  font-family: var(--theme-ff-cursive);
  color: var(--theme-color-accent);
  font-size: 26px;
  text-decoration: none;
  display: block;
}

.nav {
  margin-left: auto;
  width: calc(940px * 0.5159);
}


.nav-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--theme-ff-header);
  color: var(--theme-color-text);
  font-weight: 600;
  transition: color 0.2s ease-out;
}

.nav-link:focus,
.nav-link:hover {
  color: var(--theme-color-accent);
}

/*
==========================================================================
    Main
==========================================================================
*/
.section-services {
  padding-bottom: 120px;
}

.section-title {
  font-family: var(--theme-ff-header2);
  color: var(--theme-color-main);
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: -0.02em;
  margin: 0 0 10px 0;
  text-align: center;
}


.section-headline {
  margin: 0;
  text-align: center;
  font-family: var(--theme-ff-main2);
}

.services-headline {
  margin-bottom: 80px;
}

.contact-us-headline {
  margin-bottom: 60px;
}

.service-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.service-list__item {
  padding: 0 10px;
}

.service-list__item::before {
  content: '';
  display: block;
  height: 68px;
  width: 68px;
  border-radius: 50%;
  margin: 0 auto;
  background-image: url(../img/sprites/icon-sprite.png);
  background-repeat: no-repeat;
  border: 3px solid var(--theme-color-accent);
  margin-bottom: 23px;
}

.basket::before {
  background-position: -2px 9px;
}

.desktop::before {
  background-position: -57px 9px;
}

.security::before {
  background-position: -112px 9px;
}


.service-name {
  font-family: var(--theme-ff-header2);
  color: var(--theme-color-main);
  font-size: 18px;
  margin: 0 0 15px 0;
}

.service-description {
  margin: 0;
  line-height: calc(14px*1.25);
}

.contact-us {
  color: #ffffff;
}

.section-contact-us {
  padding-top: 105px;
  background-image: url(../img/map-img.png),
                    linear-gradient(rgb(34, 34, 34), rgb(34, 34, 34));
  background-repeat: no-repeat;
  background-position: right bottom;
}

.contact-section {
  font-family: var(--theme-ff-main2);
}

.contact-us-headline {
  margin-bottom: 75px;
}

.send-form {
  margin: 0 auto;
  padding-bottom: 90px;
}

.input-wrapper {
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.input {
  display: block;
  padding: 16px 20px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 2px;
  font-family: var(--theme-ff-header2);
  text-transform: uppercase;
  width: 455px;
  outline: 2px solid var(--theme-color-accent);
}

.input::placeholder {
  color: var(--theme-color-placeholder);
}

.input:valid {
  outline: 2px solid rgb(40, 255, 87);
}

.input:invalid {
  outline: 2px solid rgb(255, 69, 69);
}

.email-message {
  resize: none;
  flex-grow: 3;
}

.btn {
  display: block;
  margin: 0 auto;
  padding: 22px 50px;
  text-transform: uppercase;
  font-family: var(--theme-ff-header2);
  font-size: 18px;
  border: none;
  border-radius: 3px;
  background-color: var(--theme-color-accent);
  color: #ffffff;
  transition: background-color 0.2s ease-out;
}

.btn:focus,
.btn:hover {
  background-color: #ffe691;
}
