:root {
    --theme-color-main: #222222;
    --theme-color-accent: #fed136;
    --theme-color-header: #333333;
    --theme-color-text: #777777;
    --theme-color-placeholder: #bbbbbb;
    --theme-ff-cursive: 'WisdomScript', cursive;
    --theme-ff-header: 'MontserratRg', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --theme-ff-header2: 'MontserratB', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --theme-ff-main: 'RobotoSlab', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --theme-ff-main2: 'DroidSerifIt', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --theme-ff-base: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}