.hero {
    background-image: linear-gradient(#00000034, #00000073),
                    url(../../img/friends.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--light-font-color);
    text-align: center;
    padding-bottom: 13.8rem;
}

.hero-title {
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 3rem;
    width: 29.5rem;
    margin-bottom: 1.7rem;
}

.hero-desc {
    margin: 0 0 1.7rem 0;
    font-family: var(--text-ff);
    font-size: 1.8rem;
}